*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    width: 100%;
    height: 100vh;
    background: url('/img/taj-mahal-1379273_1920.jpg') no-repeat center center/cover;
}

nav{
    width: 100%;
    height: 15vh;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.logo {
    width: 25%;
    text-align: center;
    animation: change 1s ease-in-out infinite;
}

.menu{
    width: 40%;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    
}

nav .menu a{
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    width: 25%;
}


main{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

main section{

}

#active{
    color: #00b894;
}

section h3 {
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;
}

section h1 {
    font-size: 55px;
    font-weight: 700;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase;
}

section p {
    font-size: 25px;
    font-weight: 400;
    text-shadow: 1px 1px 5px black;
    margin-bottom: 25px;
}

section a{
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
}

section .bone{
    background: #fff;
    color: #000;
}

section .bone:hover{
    background: #00b894;
    color: #fff;
}

section .btwo{
    background-color: #00b894;
    color: white;
}

section .btwo:hover{
    background-color: #fff;
    color: black;
}

.change_content::after{
    content: '';
    animation: changetext 8s infinite linear;
    color: #00b894;
}

@keyframes change{
    0%{
        font-size: 15px;
    }
    25%{
        font-size: 20px;
    }
    50%{
        font-size: 25px;
    }
    75%{
        font-size: 20px;
    }

    100%{
        font-size: 15px;
    }
}

@keyframes changetext{
    0%{
        content: "Darjeeling";
    }
    20%{
        content: "Kerela";
    }
    40%{
        content: "Agra";
    }
    60%{
        content: "Delhi";
    }
    80%{
        content: "Mumbai";
    }
}